<%= form_with(model: movie, local: true, html: { multipart: true }) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :poster, "Poster" %>
    <%= form.file_field :poster %>
  </div>

  <div>
    <%= form.label :synopsis, style: "display: block" %>
    <%= form.textarea :synopsis %>
  </div>

  <div>
    <%= form.label :release_year, style: "display: block" %>
    <%= form.number_field :release_year %>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :director, style: "display: block" %>
    <%= form.text_field :director %>
  </div>

  <% if user_signed_in? %>
      <div>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :username, value: current_user.username %>
      </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
