<div id="<%= dom_id movie %>">
  <% if @movie.poster.attached? %>
      <%= image_tag @movie.poster.variant(resize_to_limit: [400, 400]) %>
  <% else %>
    <strong><%= movie.title %></strong>
  <% end %>

  <p>
    <strong>Sinopse:</strong>
    <%= movie.synopsis %>
  </p>

  <p>
    <strong>Ano de Lançamento:</strong>
    <%= movie.release_year %>
  </p>

  <p>
    <strong>Duração:</strong>
    <%= movie.duration %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= movie.user.username %>
  </p>

</div>
