<section class="movies">
  <% @movies.each do |movie| %>
    <div class="movie">
      <h2 class="movieTitle"><%= link_to movie.title, movie_path(movie) %></h2>
      <p><strong>Diretor:</strong> <%= movie.director %></p>
      <p><strong>Ano:</strong> <%= movie.release_year %></p>
      <p><strong>Duração:</strong> <%= movie.duration %> minutos</p>
      <p><strong>Categorias:</strong> <%= movie.categories.map(&:name).join(", ") %></p>
      <p class="truncateContent"><%= truncate(movie.synopsis, length: 150) %></p>
      <p class="readMore"><%= link_to 'VER DETALHES...', movie_path(movie) %></p>
    </div>
  <% end %>

  <div class="pagination">
    <%= paginate @movies %>
  </div>
</section>

<% if user_signed_in? %>
  <div class="newMovie">
    <%= link_to "Novo Filme", new_movie_path, class: "btn btn-primary" %>
  </div>
<% end %>
