<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Catálogo Filmes" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="topBar">
      <div class= "topBar_container">
        <ul class= "topBar_list">
          <% if user_signed_in? %>
            <p>Olá, <%= "#{current_user.name}" %>!</p>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= button_to "Sair da conta", destroy_user_session_path, method: :delete, data: {confirm: "Tem certeza?"}%> </li>
            <li> <%= link_to "Editar conta", edit_user_registration_path %> </li>
          <% else %>
            <li> <%= link_to "Home", root_path %> </li>
            <li> <%= link_to "Entrar", new_user_session_path %> </li>
            <li> <%= link_to "Cadastrar", new_user_registration_path %> </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>

</html>
